/* Tag Selectors */
h1 {
    color: white;
}

h2 {
    color: #29ccbc;
}

h3 {
    color: #212529;
}

p {
    font-size: 0.9rem;
}

svg {
    color: white;
}

i {
    padding: 1rem;
    padding-top: 6rem;
}

/* Class Selectors */
.container-fluid {
    padding: 0;
}

.pricing-header {
    background-color: #29ccbc;
    padding: 13rem 1rem;
    text-align: center; 
}

.lead {
    color: white;
}

.scooby-img {
    position: absolute;
    margin-left: 9rem;
    margin-top: -18rem;
}

.card-row {
    margin: 0 1rem;
}

.price-card {
    padding: 2rem 1rem;
}

.card {
    border-style: none;
    border: 1px solid lightgray;
}

.card-header {
    background-color: lightgray;
}

.btn-block:hover {
    color: white;
}

.btn-warning {
    color: white;
}

.footer {
    background-color: #29ccbc;
    color: white;
    padding: 5rem 1rem 1rem;
    text-align: center;
}

.footer-text {
  color: white;
}

.download-btn {
    margin: 0.5rem;
}

.download-btn:hover {
    color: #29ccbc;
}

.fa-apple {
    padding: 0;
    padding-right: 0.2rem;
}

.fa-google-play {
    padding: 0;
    padding-right: 0.2rem;
}

/* Id Selectors */
#pricing {
    text-align: center;
}

/* Media Queries */
@media (max-width: 896px) {
    .scooby-img {
        position: static;
        margin-top: -13rem;
        margin-left: auto;
        transform: scale(50%);
    }

    .pricing-header {
        padding: 7rem 1rem 13rem;
    }

    .card-row {
        position: absolute;
        z-index: 1;
        margin: -25.5rem 1rem;
    }

    .footer {
        margin-top: 25rem;
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 49rem;
    }
}